*{
    box-sizing: border-box;
}
.body {
    font-family: 'Rubik', sans-serif;
    margin: auto;
}
a{
  color: inherit;
  text-decoration: none;
}
 
ul{
  list-style-type: none;
  padding: 0px;
}

.header{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 13px;
  position:fixed;
  background-color:#FFFFFF;
  width:100%;
}

 .header_logo{
  width:100%;
  display: flex;
  justify-content: space-between;
 }


.header__nav ul li a{
  display:inline;
  padding: 10px;
  text-transform: uppercase;
}

.header__nav>ul>li>a:hover{
  color:#3CDBC0
}


.main-content {
    background-color:#3CDBC0;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    bottom: 0px;
}

.title {
    width: 200px;
}

@media all and (min-width:768px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px 20px 20px 30px;
    }
    .header__nav>ul>li:last-child>a{
      padding-right:0px;
    }
    ul{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }
  
  .main {
    min-height: 100vh;
    padding-top: 122px;
    display: flex;
    flex-direction: column;
  }
  
  .main__container {
    flex-grow: 1;
    position: relative;
  }
  
  .main__title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    max-width: 210px;
    text-transform: capitalize;
  }
 