*{
    box-sizing: border-box;
}
.body {
    font-family: 'Rubik', sans-serif;
    margin: auto;
}

.header{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 155px;
}

.header__nav ul li{
    display: inline-block;
  }

.main-content {
    background-color:#3CDBC0;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.title {
    width: 200px;
}